@use '@/styles/helper/mixins' as *;
@use '@/styles/helper/variables' as *;

$steps: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $step in $steps {
  .text_gray_#{$step} {
    color: var(--gray_#{$step});
  }
}

@each $step in $steps {
  .text_grayOpacity_#{$step} {
    color: var(--gray_#{$step});
  }
}

@each $step in $steps {
  .text_blue_#{$step} {
    color: var(--gray_#{$step});
  }
}

@each $step in $steps {
  .text_red_#{$step} {
    color: var(--gray_#{$step});
  }
}

@each $step in $steps {
  .text_orange_#{$step} {
    color: var(--gray_#{$step});
  }
}

@each $step in $steps {
  .text_yellow_#{$step} {
    color: var(--gray_#{$step});
  }
}

@each $step in $steps {
  .text_green_#{$step} {
    color: var(--gray_#{$step});
  }
}

@each $step in $steps {
  .text_teal_#{$step} {
    color: var(--gray_#{$step});
  }
}
@each $step in $steps {
  .text_purple_#{$step} {
    color: var(--gray_#{$step});
  }
}

.text_white {
  color: var(--white);
}
.text_gray {
  color: var(--gray);
}
