$bg-color: #e7e5e4;
$shimmer-color: rgba(255, 255, 255, 0.5);
$animation-speed: 2s;
$radius-main: 8px;

// ---------------------------------------- color
// ---------------------------------------- color
// ---------------------------------------- color

// ## grey
$grey_50: #f9fafb;
$grey_100: #f2f4f6;
$grey_200: #e5e8eb;
$grey_300: #d1d6db;
$grey_400: #b0b8c1;
$grey_500: #8b95a1;
$grey_600: #6b7684;
$grey_700: #4e5968;
$grey_800: #333d4b;
$grey_900: #191f28;

// ## Grey Opacity
$greyOpacity_50: #00173305;
$greyOpacity_100: #0220470d;
$greyOpacity_200: #001b371a;
$greyOpacity_300: #001d3a2e;
$greyOpacity_400: #0019364f;
$greyOpacity_500: #03183275;
$greyOpacity_600: #00132b94;
$greyOpacity_700: #031228b3;
$greyOpacity_800: #000c1ecc;
$greyOpacity_900: #020913e8;

// ## blue
$blue_50: #e8f3ff;
$blue_100: #c9e2ff;
$blue_200: #90c2ff;
$blue_300: #64a8ff;
$blue_400: #4593fc;
$blue_500: #3182f6;
$blue_600: #2272eb;
$blue_700: #1b64da;
$blue_800: #1957c2;
$blue_900: #194aa6;

// ## Red
$red_50: #ffeeee;
$red_100: #ffd4d6;
$red_200: #feafb4;
$red_300: #fb8890;
$red_400: #f66570;
$red_500: #f04452;
$red_600: #e42939;
$red_700: #d22030;
$red_800: #bc1b2a;
$red_900: #a51926;

// ## Orange
$orange_50: #fff3e0;
$orange_100: #ffe0b0;
$orange_200: #ffcd80;
$orange_300: #ffbd51;
$orange_400: #ffa927;
$orange_500: #fe9800;
$orange_600: #fb8800;
$orange_700: #f57800;
$orange_800: #ed6700;
$orange_900: #e45600;

// ## Yellow
$yellow_50: #fff9e7;
$yellow_100: #ffefbf;
$yellow_200: #ffe69b;
$yellow_300: #ffdd78;
$yellow_400: #ffd158;
$yellow_500: #ffc342;
$yellow_600: #ffb331;
$yellow_700: #faa131;
$yellow_800: #ee8f11;
$yellow_900: #dd7d02;

// ## Green
$green_50: #f0faf6;
$green_100: #aeefd5;
$green_200: #76e4b8;
$green_300: #3fd599;
$green_400: #15c47e;
$green_500: #03b26c;
$green_600: #02a262;
$green_700: #029359;
$green_800: #028450;
$green_900: #027648;

// ## Teal
$tea_50: #edf8f8;
$tea_100: #bce9e9;
$tea_200: #89d8d8;
$tea_300: #58c7c7;
$tea_400: #30b6b6;
$tea_500: #18a5a5;
$tea_600: #109595;
$tea_700: #0c8585;
$tea_800: #097575;
$tea_900: #076565;

// ## Purple
$purple_50: #f9f0fc;
$purple_100: #edccf8;
$purple_200: #da9bef;
$purple_300: #c770e4;
$purple_400: #b44bd7;
$purple_500: #a234c7;
$purple_600: #9128b4;
$purple_700: #8222a2;
$purple_800: #73228e;
$purple_900: #65237b;

$bg_white: #fff;
$bg_gray: #f2f4f6;
// ---------------------------------------- color
