.guide__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .guide__header {
    // background-color: var(--blue_100);
    background-color: var(--greyOpacity_100);
    color: var(--grey_800);
    font-size: 20rem;
    height: 56rem;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 20rem;
  }

  .guide__body {
    display: flex;
    justify-content: space-between;
    flex: 1;

    &__side {
      flex: 0 0 auto;
      width: 150rem;
      height: 100%;
      overflow-y: scroll;
      position: fixed;
      top: 56rem;
      padding: 20rem;
      background-color: var(--greyOpacity_100);
      // border-right: 1px solid var(--grey_500);

      & > a {
        display: block;
        padding: 5rem 0;
        font-size: 14rem;
      }
    }

    &__wrap {
      padding-left: 150rem;
      // border: 2px solid red;
      width: 100%;
    }
    &__cont {
      padding: 20rem 40rem;
    }
  }

  .guide__footer {
    flex: 0 0 auto;
    height: 56rem;
  }
}

// ############################### color
// ############################### color
// ############################### color
.color__wrap {
  margin-top: 40rem;

  &__item {
    display: flex;
    flex-wrap: wrap;
    margin: -4rem;

    & > h2 {
      width: 100%;
      margin-bottom: 10rem;
    }

    + .color__wrap__item {
      margin-top: 30rem;
    }

    & > span {
      padding: 5rem 10rem;
      border-radius: 4rem;
      color: var(--grey_900);
      font-size: 12rem;

      & + span {
        margin: 4rem;
      }
    }

    .upup {
      color: var(--grey_200);
    }
  }
}

// ############################### button
// ############################### button
// ############################### button

.g__button {
  // &__wrap {}
  &__item {
    > h2 {
      width: 100%;
      margin-bottom: 5rem;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: flex-start;
    align-items: center;
  }
}
