@use '@/styles/helper/mixins' as *;
@use '@/styles/helper/variables' as *;

// .header__wrap {
//   border: 1px solid red;
// }

.header__wrap {
  position: fixed;
  z-index: 110;
  top: 0;
  width: 100%;
  height: 64rem;
  background-color: var(--gray);

  &.main {
    width: 100%;
  }
  &.sub {
    width: 100%;
  }
}

#header {
  max-width: 960rem;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 16rem 20rem;
  align-items: center;
}

.header__logo {
  display: flex;
}

// side bar
.header__side {
  padding: 16rem 20rem;
  & > li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30rem;
  }

  & > li + li {
    margin-top: 24rem;
  }

  .header__menu__item {
    display: flex;
    align-items: center;
    gap: 10rem;
  }
}

.header__userInfo {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.user__info__wrap {
  &--provider {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 14rem;
    padding: 1rem 6rem 2rem;
    // width: 30rem;
    // height: 30rem;
    font-size: 9rem;

    &:global(.g) {
      background-color: #4285f4;
    }
    &:global(.k) {
      background-color: #f9e000;
    }
  }
}
