.skeleton {
   position: relative;
   overflow: hidden;
   background-color: #d2d2d2;
   /* stone-200 느낌 */
   border-radius: 4px;
}

/* Shimmer 효과를 위한 가상 요소 */
.skeleton::after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transform: translateX(-100%);
   background-image: linear-gradient(90deg,
         rgba(255, 255, 255, 0) 0,
         rgba(255, 255, 255, 0.2) 20%,
         rgba(255, 255, 255, 0.5) 60%,
         rgba(255, 255, 255, 0));
   animation: shimmer 2s infinite;
   content: '';
}

@keyframes shimmer {
   100% {
      transform: translateX(100%);
   }
}