@use '@/styles/helper/mixins' as *;
@use '@/styles/helper/variables' as *;

.button {
  // 공통
  display: flex;
  justify-content: center;
  align-items: center;
  //   color: var(--white);
  border: none;
  background-color: var(--light);
  border-radius: 16rem;
  font-weight: 400;
  padding: 8rem 10rem;

  &--disabeld {
    pointer-events: none;
    position: relative;
    &.button--primary {
      background-color: #ddd;
      color: #ddd;
    }
    &.button--danger {
    }
    &.button--light {
    }
    &.button--dark {
    }
  }

  // mosue down up
  &--mouse-down {
    transform: scale(0.98) translateY(2rem);
    // box-shadow:
    //   0 19px 38px rgba(0, 0, 0, 0.01),
    //   0 15px 12px rgba(0, 0, 0, 0.03);
  }

  // variant
  &--fill {
    //   _color
    &.button--primary {
      background-color: var(--primary);
      color: var(--white);
    }
    &.button--danger {
      background-color: var(--danger);
      color: var(--white);
    }
    &.button--light {
      background-color: var(--light);
      color: var(--gray);
    }
    &.button--dark {
      background-color: var(--dark);
      color: var(--white);
    }
  }

  &--weak {
    //   _color
    &.button--primary {
      background-color: var(--primary);
      color: var(--white);
    }
    &.button--danger {
      background-color: var(--danger);
      color: var(--white);
    }
    &.button--light {
      background-color: var(--light);
      color: var(--gray);
    }
    &.button--dark {
      background-color: var(--dark);
      color: var(--white);
    }
  }

  &--border {
    background-color: var(--white);
    border: 1px solid #ddd;
  }
  &--arrow {
    position: relative;
    padding-right: 20rem;
    &::after {
      content: '';
      display: block;
      width: 1rem;
      height: 7rem;
      background-color: var(--bg-black);
      position: absolute;
      top: 0;
      left: 0;
    }
    &::before {
      content: '';
      display: block;
      width: 1rem;
      height: 7rem;
      background-color: var(--bg-black);
      position: absolute;
      top: 0;
      left: 0;
    }
    &--top {
    }
    &--bottom {
    }
    &--right {
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
    &--left {
    }
  }
  &--text {
  }

  &--none {
  }

  //   size
  &--xlarge {
    min-width: 96rem;
    min-height: 56rem;
    font-size: 17rem;
    padding: 12rem 24rem;
  }
  &--large {
    min-width: 80rem;
    min-height: 48rem;
    font-size: 17rem;
    padding: 11rem 20rem;
  }
  &--medium {
    min-width: 64rem;
    min-height: 38rem;
    font-size: 15rem;
    padding: 10rem 16rem;
  }
  &--small {
    min-width: 32rem;
    min-height: 16rem;
    font-size: 13rem;
    padding: 9rem 16rem;
  }
  &--none {
    min-width: inherit;
    min-height: inherit;
  }

  //   state
  &--loading {
  }

  //   display
  &--inline {
    display: inline;
  }
  &--block {
    display: block;
  }
  &--full {
    display: block;
    width: 100%;
  }
}
