// 매우 큰 제목
.H_30_R {
  font-size: 30rem;
  line-height: 40rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.H_30_M {
  font-size: 30rem;
  line-height: 40rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.H_30_SB {
  font-size: 30rem;
  line-height: 40rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.H_30_B {
  font-size: 30rem;
  line-height: 40rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

// 큰 제목
.H_26_R {
  font-size: 26rem;
  line-height: 35rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.H_26_M {
  font-size: 26rem;
  line-height: 35rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.H_26_SB {
  font-size: 26rem;
  line-height: 35rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.H_26_B {
  font-size: 26rem;
  line-height: 35rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

// 일반 제목
.H_22_R {
  font-size: 22rem;
  line-height: 31rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.H_22_M {
  font-size: 22rem;
  line-height: 31rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.H_22_SB {
  font-size: 22rem;
  line-height: 31rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.H_22_B {
  font-size: 22rem;
  line-height: 31rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

// 작은 제목
.H_20_R {
  font-size: 20rem;
  line-height: 29rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.H_20_M {
  font-size: 20rem;
  line-height: 29rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.H_20_SB {
  font-size: 20rem;
  line-height: 29rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.H_20_B {
  font-size: 20rem;
  line-height: 29rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

// 큰 본문
.C_19_R {
  font-size: 19rem;
  line-height: 28rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.C_19_M {
  font-size: 19rem;
  line-height: 28rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.C_19_SB {
  font-size: 19rem;
  line-height: 28rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.C_19_B {
  font-size: 19rem;
  line-height: 28rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

// 조금 큰 본문
.C_17_R {
  font-size: 17rem;
  line-height: 25.5rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.C_17_M {
  font-size: 17rem;
  line-height: 25.5rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.C_17_SB {
  font-size: 17rem;
  line-height: 25.5rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.C_17_B {
  font-size: 17rem;
  line-height: 25.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

// 일반 본문
.C_15_R {
  font-size: 15rem;
  line-height: 22.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}
.C_15_M {
  font-size: 15rem;
  line-height: 22.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}
.C_15_SB {
  font-size: 15rem;
  line-height: 22.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}
.C_15_B {
  font-size: 15rem;
  line-height: 22.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

// 작은 본문
.C_13_R {
  font-size: 13rem;
  line-height: 19.5rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.C_13_M {
  font-size: 13rem;
  line-height: 19.5rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.C_13_SB {
  font-size: 13rem;
  line-height: 19.5rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.C_13_B {
  font-size: 13rem;
  line-height: 19.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

// 정말 작은 본문
.C_11_R {
  font-size: 11rem;
  line-height: 16.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}
.C_11_M {
  font-size: 11rem;
  line-height: 16.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}
.C_11_SB {
  font-size: 11rem;
  line-height: 16.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}
.C_11_B {
  font-size: 11rem;
  line-height: 16.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}
